<p>
  We don't need no education. Yes you do. You've just used a double negative. Shut up, do what I tell you, I'm not interested; these are just some of the things you'll be hearing if you answer this ad. I'm an idiot and I dont care about anyone but myself. P.S. No dogs! I'll put this over here, with the rest of the fire. I am a man, he's a man, we're men! Ok, tell me how your feeling. I feel delicate... and annoyed, and... I think I'm ugly. Graphic homoeroticism? Does that mean they're going to get them out? No, that's the music you hear when... I'm sorry are you from the past?

  It's like they're pally-wally with us when there's a problem with their printer, but once it's fixed... Shut up, do what I tell you, I'm not interested; these are just some of the things you'll be hearing if you answer this ad. I'm an idiot and I dont care about anyone but myself. P.S. No dogs! From today, dialing 999 won't get you the Emergency Services, and that's not the only thing that's changing! A gay musical, called Gay. That's quite gay. Gay musical? Aren't all musicals gay? This must be, like, the gayest musical ever. I don't see how they couldn't just keep it as it was. How hard is it to remember 911? Huh, what you think I'm afraid of you? I'm not afraid of you.

  It's my term for my time of the month. Oh. What time of the month? The weekend? OK. Moss, what did you have for breakfast this morning? Smarties cereal. It's like they're pally-wally with us when there's a problem with their printer, but once it's fixed... Today I have a business empire the like of which the world has never seen the like of which. I hope it doesn't sound arrogant when I say that I am the greatest man in the world! Well that's easy to remember. 0118 999 88199 9119 725! ... 3! I'm going to murder you... You bloody woman!

  Yeah, you need to turn it on... uh, the button turns it on. I'm going to murder you... You bloody woman! If anyone was ever rude to me, I used to carry their food around in my trousers. Oh my God! Before you brought it to their table? No, after! Of course, before! Why would I do it after? Huh, what you think I'm afraid of you? I'm not afraid of you. You're not comfortable with your sexuality? Oh, I'm very comfortable with my sexuality, I just don't want to be slapped in the face with their sexuality. Unbelievable! Some idiot disabled his firewall, meaning all the computers on Seven are teeming with viruses, plus I've just had to walk all the way down the motherfudging stairs, because the lifts are broken AGAIN!

  They just toss us away like yesterday's jam. Yes! Yesterday's jam. That is what we are to them!... Actually, that doesn't work, as a thing, because, you know, jam lasts for ages. I'll put this over here, with the rest of the fire. I'll put this over here, with the rest of the fire. How long have you been disabled? Ten years? Ten years, and how did it happen? If that's not a rude question. Acid? They just toss us away like yesterday's jam.

</p>
<p>
  <%= link_to "Show Milk", "#", id: "milks-link" %>
</p>

<section id="milks-section">
  <ol id="milk">
    <%= render @milks %>
  </ol>

  <%= form_for @milk, remote: true do |f| %>
    <fieldset>
      <ol>
        <li>
            <%= f.text_area :milk_type, placeholder: "Milk" %>
        </li>
        <li>
            <%= f.text_area :location, placeholder: "Where" %>
        </li>
        <li>
            <%= f.date_field :date %>
        </li>
        <li>
            <%= f.number_field :amount, placeholder: "How much?" %>
        </li>
        <li>
            <%= f.submit 'Add', class: 'button' %>
        </li>
      </ol>

    </fieldset>
  <% end %>
</section>
