<div class="jumbotron">
      <%= image_tag "smaller-baby-face.png", class: "sml-baby-face pull-right img-responsive" %>
  <section id="stash-info">

    <h1 class="stash-info">
      For busy breastfeeding moms...
    </h1>
    <h1 class="milk-info">
      My stash
    </h1>
    <p class="stash-info">
      ..who need to ensure reliable milk production and don't have mind space to keep track of production, consumption, inventory and expiration dates constantly.  We take the tediousness out of recording your supply through an app you're already using.

      learn more link and download widget.
    </p>
    <p class="milk-info">
      This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    </p>
  </section>

  <section id="milks-section">
    <%= form_for @milk, html: { class: "form-inline" }, remote: true do |f| %>
    <fieldset>
      <div class="form-group col-xs-3">
        <label for="milk_milk_type" class="control-label">
          Type
        </label>
        <%= f.text_field :milk_type, class: "form-control", placeholder: "Milk" %>
      </div>
      <div class="form-group col-xs-3">
        <label for="milk_date" class="control-label">
          Date
        </label>
        <%= f.date_field :date, class: "form-control" %>
        <small class="help-block">
          When pumped/frozen/thawed
        </small>
      </div>
      <div class="form-group col-xs-3">
        <label for="milk_amount" class="control-label">
          Amount
        </label>
        <%= f.number_field :amount, class: "form-control", placeholder: "oz" %>
      </div>
      <div class="form-group col-xs-3">
        <%= f.submit 'Add', class: 'btn btn-success form-control add-btn' %>
      </div>
    </fieldset>
    <% end %>
    <div class="milk-table-container">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Expiration Date
            </th>
            <th>
              Amount
            </th>
          </tr>
        </thead>
        <tbody id="milk">
          <%= render @milks %>
        </tbody>
      </table>
    </div>
  </section>
</div>
</div>
</div>
