<div class="jumbotron">
      <%= image_tag "smaller-baby-face.png", class: "baby-face pull-right img-responsive" %>
  <section id="stash-info">

    <h1>
      For busy breastfeeding moms...
    </h1>
    <p>
      ...who need to ensure reliable milk production and don't have mind space to keep track of production, consumption, inventory and expiration dates constantly.  We take the tediousness out of recording your supply with a bot that runs on apps you're already using.
    </p>
    <div class="middle-me">

    <%= link_to "Learn More", "#", class: "btn-lg btn-success", id: "learn-more" %>
    </div>


    <div id="stash-more-info">

      <div class="boxed middle-me">
      <h1 class="anchor" title="How to"><span class="how-to-stash">How-to /stash</span></h1>
      <ul class="how-to">
      <li>
        <strong><a href="https://slack.com/downloads">Start using Slack</a></strong>
        <span class="secondary-text"> to organize your team at work or at home</span>
      </li>
      <li>
        <strong><a href="https://slack.com/apps">Download our app</a></strong>
        <span class="secondary-text"> to start tracking.</span>
      </li>
      <li>
        <strong><a href="#" id="milks-link2">Record your current milk inventory</a> </strong>
        <span class="secondary-text">to get started.</span>
      </li>
      <li>
        <strong><a href="https://api.slack.com/slash-commands">Use /stash in Slack</a></strong>
        <span class="secondary-text"> to easily update your stash.</span>
      </li>
      <li>
        <strong>Talk to the bot like you would a human </strong>
        <span class="secondary-text"> - no complicated commands to memorize!</span>
      </li>
      <li>
        <strong>Get your baby's other caretakers involved. </strong>
        <span class="secondary-text"> From dads to daycares, your support network can also be involved in tracking your stash.</span>
      </li>
      </ul>
        <div class="middle-me">
        <%= link_to "Ok, got it!", "#", class: "btn-lg btn-success", id: "close-learn" %>
        </div>
      </div>

      </div>

  </section>

  <section id="milk-info">


    <h1>
      My stash
    </h1>
    <p>
      Onboard your inventory here, and then update easily through the /slack command.  Check back any time to view your stash and check-up on expiration dates.
    </p>


  </section>

  <section id="milks-section">
    <%= form_for @milk, html: { class: "form-inline" }, remote: true do |f| %>
    <fieldset>
      <div class="form-group col-xs-3">
        <label for="milk_milk_type" class="control-label">
          Type
        </label>
        <%= f.text_field :milk_type, class: "form-control", placeholder: "fresh, frozen or thawed" %>
      </div>
      <div class="form-group col-xs-3">
        <label for="milk_date" class="control-label">
          Date
        </label>
        <%= f.date_field :date, class: "form-control" %>
        <small class="help-block">
          When pumped/frozen/thawed
        </small>
      </div>
      <div class="form-group col-xs-3">
        <label for="milk_amount" class="control-label">
          Amount
        </label>
        <%= f.number_field :amount, class: "form-control", placeholder: "number of ounces" %>
      </div>
      <div class="form-group col-xs-3">
        <%= f.submit 'Add', class: 'btn btn-success form-control add-btn' %>
      </div>
    </fieldset>
    <% end %>
    <div class="milk-table-container">
      <table class="table table-striped table-hover table-condensed">
        <thead>
          <tr>
            <th>
              Type
            </th>
            <th>
              Expiration Date
            </th>
            <th>
              Amount (oz)
            </th>
          </tr>
        </thead>
        <tbody id="milk">
          <%= render @milks %>
        </tbody>
      </table>
    </div>
  </section>
</div>
</div>
</div>
