<tr>
  <%= form_for milk, remote: true do |f|  %>
  <td>
    <%= f.text_field :milk_type %>
  </td>
  <td>
    <%= milk.exp_date.strftime("%A, %B %e, %Y")   #=> "Thursday, June 9, 2011"
 %>
  </td>
  <td>
    <%= f.text_field :amount %>  </td>
  <td>
  <%= f.submit 'Update', class: 'btn btn-success form-control add-btn' %>
  </td>
  <% end %>
  <td>
    <td><%= link_to 'Delete', milk_path(milk),
              class: "btn btn-danger",
              method: :delete,
              remote: true,
              data: { confirm: 'Are you sure?' } %></td>
</td>
</tr>
