<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "favicon.ico" %>
  <title>/stash</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills top-nav">
            <li class="logo">
              <%= image_tag "smaller-baby-bottle.png", class: "pull-left img-responsive" %>
              <%= link_to "/stash", "http://www.slash-stash.com", class: "logo-text" %>
            </li>
            <li class="pull-right">
              <%= link_to "My Stash", "#", id: "milks-link" %>
            </li>
          </ul>
        </header>
        <main>
          <%= yield %>
        </main>
        <footer>
          <div class="row">
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="first-footer-link">
                  <p>Making /stash</p>
                </li>
                <li>
                  <a href="https://github.com/nahmisa/capstone-stash">GitHub</a>
                </li>
                <li>
                  <a href="https://claudiajs.com/">Claudia.js</a>
                </li>
                <li>
                  <a href="https://www.luis.ai/">LUIS.ai</a>
                </li>
                <li>
                  <a href="https://slack.com/apps/category/At0EFRCDNY-developer-tools">Slack</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="second-footer-link">
                  <p>Sarah</p>
                <li>
                  <a href="https://github.com/nahmisa">GitHub</a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/sarahnahmias">LinkedIn</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="third-footer-link">
                  <p class="title-top">Ada Developers Academy</p>
                </li>
                <li>
                  <a href="http://adadevelopersacademy.org/">About</a>
                </li>
                <li>
                  <a href="http://adadevacademy.tumblr.com/">Blog</a>
                </li>
                <li>
                  <a href="https://twitter.com/adaacademy?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="last-footer-link">
                  <p class="title-top">Handy Links</p>
                </li>
                <li>
                  <a href="https://www2.aap.org/breastfeeding/faqsBreastfeeding.html">American Academy of Pediatrics</a>
                </li>
                <li>
                  <a href="http://www.donatemilk.org/">NW Milkbank</a>
                </li>
                <li>
                  <a href="http://www.swedish.org/locations/center-for-perinatal-bonding-and-support">Perinatal Bonding & Support</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="bottom-border col-lg-12">
              </div>
          </div>
        </footer>
      </div>
    </body>
    </html>
