<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag "favicon.ico" %>
  <title>/stash</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <div class="container-fluid">
    <header>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills top-nav">
            <li class="logo">
              <%= image_tag "smaller-baby-bottle.png", class: "pull-left img-responsive" %>
              <%= link_to "/stash", "http://www.slash-stash.com", class: "logo-text" %>
            </li>
            <li class="pull-right">
              <%= link_to "My Stash", "#", id: "milks-link" %>
            </li>
          </ul>
        </header>
        <main>
          <%= yield %>
        </main>
        <footer>
          <div class="row">
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="first-footer-link">
                  <p>Making /stash</p>
                </li>
                <li>
                  <a href="#">GitHub</a>
                </li>
                <li>
                  <a href="#">Slack</a>
                </li>
                <li>
                  <a href="#">Claudia.js</a>
                </li>
                <li>
                  <a href="#">LUIS.ai</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="second-footer-link">
                  <p>Sarah</p>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">GitHub</a>
                </li>
                <li>
                  <a href="#">LinkedIn</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="third-footer-link">
                  <p class="title-top">Ada Developers Academy</p>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Blog</a>
                </li>
                <li>
                  <a href="#">Twitter</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <ul class="nav nav-stacked nav-pills">
                <li class="last-footer-link">
                  <p class="title-top">Handy Links</p>
                </li>
                <li>
                  <a href="#">NW Milkbank</a>
                </li>
                <li>
                  <a href="#">Perinatal Bonding & Support</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
              <div class="bottom-border col-lg-12">
              </div>
          </div>
        </footer>
      </div>
    </body>
    </html>
